# Week 3

# PPAs

[Question Paper](https://drive.google.com/file/d/1ja2g7HUxEEd5_s7VW7EDndFEHYSYsUGf/view)

**FLIS** Database

### 1

```sql

```

**LIS** Database

### 2

```sql

```

### 3

```sql

```

### 4

```sql

```

### 5

```sql

```

# GRPAs

**FLIS** Database

### 1

```sql
select mr.match_num, r.name
from match_referees mr, referees r
where mr.assistant_referee_1 = r.referee_id and
mr.match_num = (select match_num
               from matches
              where match_date = '2020-05-15');
```

### 2

```sql
select p.name, p.dob
from teams t, players p
where t.name = 'Arawali' and t.team_id = p.team_id
order by p.dob desc limit 1;
```

### 3

```sql
select distinct t.name
from teams t
where not exists (select * 
                 from players p
                 where p.team_id = t.team_id and p.jersey_no = 74)
```

**LIS** Database

### 4

```sql
select s.student_fname, s.student_lname
from students s, members m
where m.roll_no = s.roll_no and 
m.member_no not in (select distinct member_no 
                    from book_issue);
```

### 5

```sql
select title, count(bc_isbn_no) as total
from
(select title,bc_isbn_no
from
(select *
from (select isbn_no as bc_isbn_no,title from book_catalogue) as A full 
join (select isbn_no as bcopy_isbn_no from book_copies ) as B
on A.bc_isbn_no = B.bcopy_isbn_no) as XX
where XX.title like '%Advanced%') as abc
group by abc.title;
```