# Week 2

# PPAs

[Question Paper](https://drive.google.com/file/d/1yA6Eilo_ugCjBroaPpqHGW90mRYL7BXJ/view)

**FLIS** Database

### 1

```sql
select m.name
from managers m, teams t
where m.team_id = t.team_id and t.name = 'All Stars';
```

### 2

```sql
select distinct name
from teams;
```

**LIS** Database

### 3

```sql
select b.title
from book_catalogue b, book_authors a
where b.ISBN_no = a.ISBN_no and a.author_fname = 'Joh Paul' and a.author_lname = 'Mueller';
```


### 4

```sql
select distinct title
from book_catalogue
where publisher = 'McGraw Hill Education';
```

### 5

```sql
select distinct s.student_fname, s.student_lname
from students s, members m
where s.roll_no = m.roll_no and m.member_type = 'PG';
```